.pokedex-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    gap: 5px;
    max-width: 1000px;
    margin-inline: auto;
}

.pokedex-item {
    background: linear-gradient(
        to right,
        hsla(207, 70%, 52%, 0.5),
        hsla(192, 25%, 51%, 0.5)
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
